.item {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item a img {
  width: 215px;
  height: 300px;
  object-fit: cover;
}

.item .cart img{
  width: 30px;
  height: 30px;
}

.item .cart {
  background: none;
  border: none;
  cursor: pointer;
}

.container-items-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.item p {
  margin: 6px 0px;
}

.item-prices {
  display: flex;
  gap: 9px;
  justify-content: space-between;
  align-items: center;
}

.item-price-new {
  color: #374151;
  font-size: 13px;
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.item-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.item-dropdown-field {
  margin-bottom: 10px;
}

.item-dropdown-field label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.item-dropdown-field select,
.item-dropdown-field input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-to-cart-button {
  width: 100%;
  padding: 10px;
  background-color: #ff5a5a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.add-to-cart-button:hover {
  background-color: #e04e4e;
}

#quantity-input {
  width: 90%;
}

@media(max-width: 1280px) {
  .item {
    width: 220px;
    font-size: 14px;
  }

  .item-price-old {
    font-size: 14px;
  }
  .item .cart img{
    width: 25px;
    height: 25px;
  }

}

@media(max-width: 1024px) {
  .item {
    width: 170px;
    font-size: 13px;
  }
  .item a img {
    width: 170px;
    height: 290px;
  }
  .item-price-old {
    font-size: 13px;
  }

}

@media(max-width: 800px) {
  .item {
    width: 180px;
    font-size: 12px;
  }
  .item a img {
    width: 145px;
    height: 210px;
  }
  .item-price-old {
    font-size: 12px;
  }
  .item .cart img{
    width: 15px;
    height: 15px;
  }
}

@media(max-width: 500px) {
  .item {
    width: 160px;
  }
  .item img {
    width: 160px;
  }
  .item-price-old {
    font-size: 12px;
  }
  .item-price-new {
    font-size: 14px;
  }
}