.forgot-password-container {
    max-width: 455px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    height: 235px;
}

.forgot-password-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forgot-password-container label {
    font-weight: bold;
    color: #555;
    padding-top: 10px;
}

.forgot-password-container input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.forgot-password-container input:focus {
    border-color: #e96060;
}

.forgot-password-container button {
    padding: 10px;
    background-color: #ff4141;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.forgot-password-container button:hover {
    background-color: #eb5959;
}

.forgot-password-container .error-message {
    color: #dc3545;
    font-size: 14px;
    text-align: center;
}

.forgot-password-container .success-message {
    color: #28a745;
    font-size: 14px;
    text-align: center;
}