.newsletter {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 30px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    gap: 30px;
}

.newsletter h1 {
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p {
    color: #454545;
    font-size: 20px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    max-width: 730px;
    height: 65px;
    border-radius: 80px;
    padding: 0 20px;
}

.newsletter input {
    flex: 1;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
    padding: 0 90px;
}

.newsletter form button {
    width: 200px;
    height: 60px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.newsletter form button:hover {
    background: black;
    transform: scale(1.05);
}

@media (max-width: 1280px) {
    .newsletter {
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .newsletter h1 {
        font-size: 36px;
    }
    .newsletter p {
        font-size: 16px;
    }
    .newsletter div {
        max-width: 600px;
        height: 60px;
    }
    .newsletter input {
        font-size: 14px;
    }
    .newsletter form button {
        width: 160px;
        height: 60px;
    }
}

@media (max-width: 1024px) {
    .newsletter {
        margin-bottom: 60px;
        align-items: center;
        justify-content: center;
    }
    .newsletter h1 {
        font-size: 30px;
    }
    .newsletter p {
        font-size: 14px;
    }
    .newsletter div {
        max-width: 500px;
        height: 50px;
    }
    .newsletter input {
        font-size: 14px;
    }
    .newsletter form button {
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .newsletter {
        margin-bottom: 60px;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .newsletter h1 {
        font-size: 18px;
    }
    .newsletter p {
        font-size: 12px;
    }
    .newsletter div {
        max-width: 400px;
        height: 40px;
    }
    .newsletter input {
        font-size: 13px;
    }
    .newsletter form button {
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .newsletter {
        height: auto;
        width: 100%;
        padding: 0;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    .newsletter h1 {
        font-size: 16px;
    }
    .newsletter p {
        font-size: 13px;
        max-width: 200px;
        text-align: center;
    }
    .newsletter div {
        max-width: 290px;
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
    .newsletter input {
        width: 100%;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .newsletter form button {
        width: 100%;
        height: 40px;
        font-size: 13px;
    }
}